.header {
  background-color: var(--site-color-darker);
  margin: 0 0 2rem 0;
}
.header__body {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.nav__item {
  font-size: 1.5rem;
  text-transform: lowercase;
  margin: 0 1rem 0 0;
  display: inline-block;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.nav__item:hover {
  color: var(--site-color-second);
}
.nav__item:last-child {
  margin: 0;
}

.footer {
  width: 100%;
  background-color: var(--site-color-darker);
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 2rem 0 0 0;
}
.footer__item {
  display: block;
  margin: 1rem 0 0 0;
  font-size: 1.5rem;
}
.footer__item:first-child {
  margin: 0;
}