{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'c/css/null.css' %}">
    <link rel="stylesheet" href="{% static 'c/css/manage.css' %}">
    <title>{{ title }}</title>
</head>
<body>
    <main class="main">
        <div class="manager fs">
            <div class="manager__body container">
                {% for o in options %}
                <a class="manager__item" href="{% url o.url %}"><div>{{ o.name }}</div></a>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>